fastapi~=0.115.12
pydantic~=2.11.5
python-dotenv~=1.1.0
redis~=6.2.0
clickhouse-connect~=0.8.17
PyYAML~=6.0.2
geohash2~=1.1
requests~=2.32.3
openai~=1.84.0
tenacity~=9.1.2
asyncpg~=0.30.0
pytest~=8.4.0
pandas~=2.3.0
numpy~=2.0.2
folium~=0.19.7
matplotlib~=3.9.4
seaborn~=0.13.2
clickhouse-driver~=0.2.9
setuptools~=78.1.0
uvicorn~=0.34.3
sqlglot~=26.26.0
dashscope~=1.23.5
pytz~=2025.2